<div class="small text-center">
    <a href="https://github.com/natesilva/javascript-eslint.tmbundle"
            class="open-external">
        javascript-eslint TextMate Bundle
    </a>
    <span class="version-number"></span>
    &mdash;
    <a href="#" class="update-checker">
        Check for new version
    </a>
    <span class="update-available hidden">
      <a class="label label-info open-external"
        href="https://github.com/natesilva/javascript-eslint.tmbundle/releases/latest">
        <span class="dingbat">&#10039;</span> Update Available
      </a>
    </span>
    <span class="no-update hidden">
        You have the latest version
    </span>
    <span class="update-error text-danger hidden">
        Check for update failed
    </span>
</div>
