<div class="panel panel-danger">
    <div class="panel-heading">
        <h4>
            JavaScript Validation Error
            <div class="small"><%= timestamp %></div>
        </h4>
    </div>
    <div class="panel-body">
        <%= message %>
    </div>
</div>

<div class="small text-center">
    <b>
    <a href="https://github.com/natesilva/javascript-eslint.tmbundle"
            class="open-external">
        javascript-eslint TextMate Bundle
    </a>
    </b>
</div>
